@font-face { font-family: Now; src: url('now/Now-Regular.otf'); } 
@font-face { font-family: Now; font-weight: bold; src: url('now/Now-Bold.otf');}

 *{
    box-sizing: border-box;
}
h1{
    font-size: 2rem;
    line-height: 4rem;
}
body{
    width: 100%;
    overflow-x: hidden;
    font-family: Now;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background: rgba(40, 40, 40, 1);
    color: rgba(255, 255, 255, 1);
    word-spacing: 2px;
    line-height: 25px;
}
a{
    color: #fff;
    text-decoration: none;
    font-family: Now;
    transition: all 1s;
}
a:hover{
    border-bottom: 1px solid white;
}
i{
    color: rgba(240, 99, 184, 1);
    cursor: pointer;
}
ul{
    list-style: none;
}

i.white{
    color: #fff;
}
h3{
   font-size: 2rem;
   line-height: 4rem;
}
.h2{
    line-height: 3rem;
}
img{
    width: 100%;
    height: auto;
}
section{
    border-radius: 50px;
    width: 80%;
    margin: 6rem auto;
    padding: 40px;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    box-shadow: 2px 2px 40px 0px #0000004D inset;

}
.dot.active{
    background-color: rgba(240, 99, 184, 1);
    transform: scale(2);
}

.btn-with-bg{
    background-color: rgba(40, 40, 40, 1);
    box-shadow: 0 0 8px rgba(14, 9, 9, 0.699);
    padding: 13px 32px;
    border-radius: 30px;
    
}

.skyblue{
    color: rgba(48, 251, 239, 1);
}
.purple{
    color: rgba(156, 105, 226, 1);
    
}

.flex-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 10px;
}
.flex-row-space-btw{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    font-family: Now;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 3rem;
}

.main-logo{
    font-family: Now;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    list-style-type: none;
}

header ul a{
    text-decoration: none;
    color: #fff;
}

/* Hero Section */

.hero-section{
    
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    max-height: 70vh;
}

.hero-section h1{
    font-size: 3rem;
    font-family: Now;
    font-weight: bold;
    padding: 0;
    margin: 0;
    max-width: 500px;

}
.hero-section p{
    font-family: Now;
    margin: 0;
    padding: 0;
    max-width: 500px;
}

.hero-section div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}


/* About-section */
.about-container{
    margin: 3rem 0;
}

.about{
    width: 80%;
    margin: auto;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    gap: 50px;
}

.about div:first-child{
    width: 100%;
}

.about div:nth-child(2){
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.about div:nth-child(2) h2{
    font-size: 2rem;
    font-family: Now;
    font-weight: bold;
    margin-bottom: 1rem;
}


/* features */

.features-container{
    padding: 3rem;
    width: 80%;
    margin: auto;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);

}
.features-container div{
    display: flex;
    gap: 20px;
    padding: 3rem;
}
.features{
    transition: 1s;
}


.feature{
    padding: 20px 30px;
    min-width: 355px;
    max-width: 405px;
    width: 405px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    border-radius: 20px;
    background: rgba(33, 33, 33, 1);
    max-width: 300px;
}
.feature img{
    width: 80%;
    margin: auto;
}
.feature p{
    margin-top: 0;
}
.feature a{
    margin: 2rem 0;
}


.features-slide-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.features-slide-items span{
    cursor: pointer;
}

 .dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transition: all 0.5s;
    background-color: #fff;
}
.dot:hover{
    transform: scale(2);
}

.arrows{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* Download Section */

.download-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    padding:0 50px;
}

.download-section div:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.download-section div:first-child p{
    max-width: 600px;
    margin: 2rem 0;

}

.download-section div:nth-child(2) img{
    transform: scale(1.4);
}

/* --Testimonial */
.testimonials{
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-left: 50px;
    transition: all 1s;
}

.testimonial{

    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    min-width: 600px;
    background: rgba(33, 33, 33, 1);
    border-radius: 50px;
    padding: 60px 60px;
}

.testimonial>div:first-child{
    width: 80%;
}
.testimonial .name{
    font-size: 1.4rem;
}

.testimonial .job{
    font-size: 0.8rem;
}
.testimonial .job-rating{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.rating .rate{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(35, 209, 198);
}

.testimonial:first-child .rate:last-child{
    background-color: white;
}

.round{
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    transition: all 0.5s;
    transform: scale(1);
    background-color: #fff;
    cursor: pointer
   
}
.round:hover{
    transform: scale(1.5);
}

.round.activate{
    background: rgba(240, 99, 184, 1);
    transform: scale(2);

}
.testimonials-slide-items .arrows{
    display: flex;
    gap: 10px;
    
}
.arrows span{
    cursor: pointer;
}

/* subscribe section---- */
.subscribe-section{
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subscribe-section h3{
    padding: 0;
    margin: 0;
}
.subscribe-section>div:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.subscribe-section>div:nth-child(2){
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.subscribe-section>div:nth-child(2){
    background: radial-gradient(38.2% 50% at 50% 50%, #2E3134 0%, #292B2E 100%);
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 40px 0px #0000004D inset;

}

#free-section{
    justify-content: space-between;
}

#try-for-free{
    background-color: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
}
.line-break{
    width: 100vw !important;
    background-color: gray;
}

/* Footer */

footer{
    width: 80%;
    margin: auto;
}

.footer-bottom-container{

}

.footer-bottom{
    justify-content: space-between;
    margin: 3rem 0;
}

.flex-row-space-btw img{
    width: 100%;
}

/* rest element */
.request-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#hr{
    height: 7px;
    width: 100%;
    border-top: 2px solid #a59c9ca9;
    border-bottom: 2px solid #9b69e2ab;
}